{% raw %}{% load i18n media_tags staticfiles %}
<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7 ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8 ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title></title>
  {% block head_meta %}
  <meta name="description" content="{% block meta-description %}{% endblock %}">
  <meta name="author" content="{% block meta-author %}{% endblock %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% endblock %}

  {% block css %}
  {% css 'css/all.css' %}
  {% block extra-css %}
  {% endblock %}
  {% css_ie 'css/ie.css' %}
  {% endblock %}

  <script src="{% static "{% endraw %}{{ cookiecutter.project_name }}{% raw %}/js/modernizr-3.3.1.min.js" %}"></script>
  {% block js %}
  {% block jquery %}
  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{% static "{% endraw %}{{ cookiecutter.project_name }}{% raw %}/js/jquery-1.12.3.min.js" %}"><\/script>')</script>
  {% endblock %}
  {% block javascript %}
  <script defer src="{% static "{% endraw %}{{ cookiecutter.project_name }}{% raw %}/js/plugins.js" %}"></script>
  <script defer src="{% static "{% endraw %}{{ cookiecutter.project_name }}{% raw %}/js/script.js" %}"></script>
  {% endblock %}
  {% comment %}
  {% block analytics %}
  {# Google Analytics: change UA-XXXXX-X to be your site's ID. #}
  <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
  </script>
  {% endblock %}
  {% endcomment %}
  {% block extra-js %}
  {% endblock %}
  {% endblock %}
</head>

<body>{% block ie7 %}
  <!--[if lt IE 8]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> to experience this site.</p><![endif]-->{% endblock %}
    <header>
      {% block header %}
      {% endblock %}
    </header>
    <section id="main" class="main" role="main">
      {% block main %}
      {% endblock %}
    </section>

    <footer>
      {% block footer %}
      {% endblock %}
    </footer>
  </div> <!--! end of #container -->
</body>
</html>{% endraw %}
