pip-tools
pillow
lxml
django-serve
django-service-urls
django{% if cookiecutter.use_postgresql == "y" %}
psycopg2{% endif %}
django-fluo
gunicorn{% if cookiecutter.use_cookielaw == "y" %}
django-fluo-legal{% endif %}
whitenoise[brotli]
django-sekizai{% if cookiecutter.use_widget_tweaks == "y" or cookiecutter.project_type == "django-cms" %}
django-widget-tweaks{% endif %}{% if cookiecutter.use_sorl_thumbnail == "y" %}
sorl-thumbnail{% endif %}{% if cookiecutter.use_djangorestframework == "y" %}

# django-rest-framework
djangorestframework{% endif %}{% if cookiecutter.project_type == "django-cms" %}

# django-cms
django-cms
django-filer
djangocms-column
djangocms-file
djangocms-googlemap
djangocms-link
djangocms-picture
djangocms-style
djangocms-text-ckeditor
djangocms-video
django-polymorphic
django-select2{% endif %}
