pytz
django
django-fluo{% if cookiecutter.use_sekizai == "y" or cookiecutter.project_type == "django-cms" %}
django-sekizai{% endif %}{% if cookiecutter.use_widget_tweaks == "y" or cookiecutter.project_type == "django-cms" %}
django-widget-tweaks{% endif %}{% if cookiecutter.use_sorl_thumbnail == "y" %}
sorl-thumbnail{% endif %}{% if cookiecutter.use_djangorestframework == "y" %}

# django-rest-framework
djangorestframework{% endif %}{% if cookiecutter.project_type == "django-cms" %}

# django-cms
django-cms
django-filer
cmsplugin-filer
#relatorio
djangocms-video
djangocms-text-ckeditor
djangocms-teaser
#djangocms-snippet
djangocms-picture
djangocms-link
#djangocms-inherit
djangocms-googlemap
djangocms-flash
djangocms-file
djangocms-style
djangocms-column
django-reversion<2.0
django-polymorphic
django-select2{% endif %}
