{% raw %}{% extends "{% endraw %}{{ cookiecutter.project_name }}{% raw %}/template.html" %}
{% load i18n media_tags static {% endraw %}{% if cookiecutter.project_type == "django-cms" %}{% raw %}cms_tags {% endraw %}{% endif %}{% if cookiecutter.project_type == "django-cms" or cookiecutter.use_sekizai == "y" %}{% raw %}sekizai_tags {% endraw %}{% endif %}{% raw %}%}

{% block title %}Title{% endblock %}

{% block extra-css %}{% endraw %}{% if cookiecutter.project_type == "django-cms" or cookiecutter.use_sekizai == "y" %}{% raw %}
{% addtoblock "css" %}{% endraw %}{% else %}{% raw %}
{{ block.super }}{% endraw %}{% endif %}{% raw %}
<style>
  body { text-align: center;}
  h1 { font-size: 50px; text-align: center }
  span[frown] { transform: rotate(90deg); display:inline-block; color: #bbb; }
  body { font: 20px Constantia, 'Hoefler Text',  "Adobe Caslon Pro", Baskerville, Georgia, Times, serif; color: #999; text-shadow: 2px 2px 2px rgba(200, 200, 200, 0.5); }
  ::-moz-selection{ background:#FF5E99; color:#fff; }
  ::selection { background:#FF5E99; color:#fff; }
  article {display:block; text-align: left; width: 500px; margin: 0 auto; }

  a { color: rgb(36, 109, 56); text-decoration:none; }
  a:hover { color: rgb(96, 73, 141) ; text-shadow: 2px 2px 2px rgba(36, 109, 56, 0.5); }
</style>{% endraw %}{% if cookiecutter.project_type == "django-cms" or cookiecutter.use_sekizai == "y" %}{% raw %}
{% endaddtoblock %}{% endraw %}{% endif %}{% raw %}
{% endblock %}

{% block main %}
<article>
  <h1>Welcome <span frown>:)</span></h1>
  <div>
    <p>to your new django site.</p>
    <p>Now start coding!.</p>
  </div>
</article>
{% endblock %}{% endraw %}
